@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(#69257A, #C800FA) no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main.container {
    background: white;
    max-width: 350px;
    min-height: 55vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 26px;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(#69257A, #C800FA)
}
form {
    display: flex;
    flex-direction: column;
}
form .input-field:first-child {
    margin-bottom: 1.5rem;
}
.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(#69257A, #C800FA);
    transform: scaleX(0);
    transition: all 0.3s ease;
    transform-origin: left;
}
.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}
.input-field {
    position: relative;
}
.input-field input{
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}
.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.6rem;
    background: linear-gradient(to left, #B23ECF, #855791);
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
}
form input[type="submit"]:hover {
    letter-spacing: 0.6px;
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(to right, #B23ECF, #855791);
}
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.footer span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    text-align: center;
}
.footer .social-field {
    padding: 0.7rem;
    border-radius: 4px;
    font-size: 0.8rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}
.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}
.footer .social-field a {
    text-decoration: none;
    color:white;
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #3B5998, #5A86E5);
}
.footer .social-field.google {
    background: linear-gradient(to right, #DB4A39, #FFBD00, #40E500);
}
.footer .social-field.twitter {
    background: linear-gradient(to right, #00ACEE, #45B8E5);
}
span a {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-decoration: none;
    color: linear-gradient(to right, #B23ECF, #855791);
}
span a:hover {
    text-decoration: underline;
}